@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Jost%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-gfHoBrUYPrd-: #e20512;
  --plasmic-token-primary: var(--token-gfHoBrUYPrd-);
  --token-CipT0y44uCoE: #22a638;
  --plasmic-token-accent: var(--token-CipT0y44uCoE);
  --token-tuiJWDByDnLD: #2e2e2e;
  --plasmic-token-secondary: var(--token-tuiJWDByDnLD);
  --token-HmYm7FCAFJ_l: #d6d6d6;
  --plasmic-token-light: var(--token-HmYm7FCAFJ_l);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-_wUejg8Z59GC_font-family: "Inter", sans-serif;
  --mixin-_wUejg8Z59GC_font-size: 16px;
  --mixin-_wUejg8Z59GC_font-weight: 400;
  --mixin-_wUejg8Z59GC_font-style: normal;
  --mixin-_wUejg8Z59GC_color: #535353;
  --mixin-_wUejg8Z59GC_text-align: left;
  --mixin-_wUejg8Z59GC_text-transform: none;
  --mixin-_wUejg8Z59GC_line-height: 1.5;
  --mixin-_wUejg8Z59GC_letter-spacing: normal;
  --mixin-_wUejg8Z59GC_white-space: pre-wrap;
  --mixin-_wUejg8Z59GC_user-select: text;
  --mixin-_wUejg8Z59GC_text-decoration-line: none;
  --mixin-_wUejg8Z59GC_text-overflow: clip;
  --mixin-yl1WxBMiTT-s_color: #000000;
  --mixin-yl1WxBMiTT-s_font-weight: 700;
  --mixin-yl1WxBMiTT-s_font-size: 64px;
  --mixin-yl1WxBMiTT-s_line-height: 1;
  --mixin-yl1WxBMiTT-s_letter-spacing: -1px;
  --mixin-yl1WxBMiTT-s_white-space: pre-wrap;
  --mixin-gYJFgC3GRM6v_color: #000000;
  --mixin-gYJFgC3GRM6v_font-size: 48px;
  --mixin-gYJFgC3GRM6v_font-weight: 700;
  --mixin-gYJFgC3GRM6v_letter-spacing: -0.5px;
  --mixin-gYJFgC3GRM6v_line-height: 1.1;
  --mixin-gYJFgC3GRM6v_white-space: pre-wrap;
  --mixin-qrMTVnjBRNh1_color: #0070f3;
  --mixin-qrMTVnjBRNh1_white-space: pre-wrap;
  --mixin-t0zygPgzIMtW_color: #000000;
  --mixin-t0zygPgzIMtW_font-size: 32px;
  --mixin-t0zygPgzIMtW_font-weight: 600;
  --mixin-t0zygPgzIMtW_line-height: 1.2;
  --mixin-t0zygPgzIMtW_white-space: pre-wrap;
  --mixin-UMz4Jceu16KP_color: #000000;
  --mixin-UMz4Jceu16KP_font-size: 24px;
  --mixin-UMz4Jceu16KP_font-weight: 600;
  --mixin-UMz4Jceu16KP_line-height: 1.3;
  --mixin-UMz4Jceu16KP_white-space: pre-wrap;
  --mixin-Hr6de8Tfn9e3_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Hr6de8Tfn9e3_border-bottom-color: #dddddd;
  --mixin-Hr6de8Tfn9e3_border-bottom-style: solid;
  --mixin-Hr6de8Tfn9e3_border-bottom-width: 1px;
  --mixin-Hr6de8Tfn9e3_border-left-color: #dddddd;
  --mixin-Hr6de8Tfn9e3_border-left-style: solid;
  --mixin-Hr6de8Tfn9e3_border-left-width: 1px;
  --mixin-Hr6de8Tfn9e3_border-right-color: #dddddd;
  --mixin-Hr6de8Tfn9e3_border-right-style: solid;
  --mixin-Hr6de8Tfn9e3_border-right-width: 1px;
  --mixin-Hr6de8Tfn9e3_border-top-color: #dddddd;
  --mixin-Hr6de8Tfn9e3_border-top-style: solid;
  --mixin-Hr6de8Tfn9e3_border-top-width: 1px;
  --mixin-Hr6de8Tfn9e3_border-bottom-left-radius: 3px;
  --mixin-Hr6de8Tfn9e3_border-bottom-right-radius: 3px;
  --mixin-Hr6de8Tfn9e3_border-top-left-radius: 3px;
  --mixin-Hr6de8Tfn9e3_border-top-right-radius: 3px;
  --mixin-Hr6de8Tfn9e3_font-family: "Inconsolata";
  --mixin-Hr6de8Tfn9e3_padding-bottom: 1px;
  --mixin-Hr6de8Tfn9e3_padding-left: 4px;
  --mixin-Hr6de8Tfn9e3_padding-right: 4px;
  --mixin-Hr6de8Tfn9e3_padding-top: 1px;
  --mixin-Hr6de8Tfn9e3_white-space: pre-wrap;
  --mixin--7l0ZNbwpSib_border-left-color: #dddddd;
  --mixin--7l0ZNbwpSib_border-left-style: solid;
  --mixin--7l0ZNbwpSib_border-left-width: 3px;
  --mixin--7l0ZNbwpSib_color: #888888;
  --mixin--7l0ZNbwpSib_padding-left: 10px;
  --mixin--7l0ZNbwpSib_white-space: pre-wrap;
  --mixin-MpLKI4bdxqOh_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-MpLKI4bdxqOh_border-bottom-color: #dddddd;
  --mixin-MpLKI4bdxqOh_border-bottom-style: solid;
  --mixin-MpLKI4bdxqOh_border-bottom-width: 1px;
  --mixin-MpLKI4bdxqOh_border-left-color: #dddddd;
  --mixin-MpLKI4bdxqOh_border-left-style: solid;
  --mixin-MpLKI4bdxqOh_border-left-width: 1px;
  --mixin-MpLKI4bdxqOh_border-right-color: #dddddd;
  --mixin-MpLKI4bdxqOh_border-right-style: solid;
  --mixin-MpLKI4bdxqOh_border-right-width: 1px;
  --mixin-MpLKI4bdxqOh_border-top-color: #dddddd;
  --mixin-MpLKI4bdxqOh_border-top-style: solid;
  --mixin-MpLKI4bdxqOh_border-top-width: 1px;
  --mixin-MpLKI4bdxqOh_border-bottom-left-radius: 3px;
  --mixin-MpLKI4bdxqOh_border-bottom-right-radius: 3px;
  --mixin-MpLKI4bdxqOh_border-top-left-radius: 3px;
  --mixin-MpLKI4bdxqOh_border-top-right-radius: 3px;
  --mixin-MpLKI4bdxqOh_font-family: "Inconsolata";
  --mixin-MpLKI4bdxqOh_padding-bottom: 3px;
  --mixin-MpLKI4bdxqOh_padding-left: 6px;
  --mixin-MpLKI4bdxqOh_padding-right: 6px;
  --mixin-MpLKI4bdxqOh_padding-top: 3px;
  --mixin-MpLKI4bdxqOh_white-space: pre-wrap;
  --mixin-id60ht1hbZJ6_display: flex;
  --mixin-id60ht1hbZJ6_flex-direction: column;
  --mixin-id60ht1hbZJ6_align-items: stretch;
  --mixin-id60ht1hbZJ6_justify-content: flex-start;
  --mixin-id60ht1hbZJ6_list-style-position: outside;
  --mixin-id60ht1hbZJ6_padding-left: 40px;
  --mixin-id60ht1hbZJ6_position: relative;
  --mixin-id60ht1hbZJ6_list-style-type: disc;
  --mixin-id60ht1hbZJ6_white-space: pre-wrap;
  --mixin-f5mOPlz0l5Rp_display: flex;
  --mixin-f5mOPlz0l5Rp_flex-direction: column;
  --mixin-f5mOPlz0l5Rp_align-items: stretch;
  --mixin-f5mOPlz0l5Rp_justify-content: flex-start;
  --mixin-f5mOPlz0l5Rp_list-style-position: outside;
  --mixin-f5mOPlz0l5Rp_padding-left: 40px;
  --mixin-f5mOPlz0l5Rp_position: relative;
  --mixin-f5mOPlz0l5Rp_list-style-type: decimal;
  --mixin-f5mOPlz0l5Rp_white-space: pre-wrap;
  --mixin-R-XPS_pKJNSd_color: #000000;
  --mixin-R-XPS_pKJNSd_font-size: 20px;
  --mixin-R-XPS_pKJNSd_font-weight: 600;
  --mixin-R-XPS_pKJNSd_line-height: 1.5;
  --mixin-R-XPS_pKJNSd_white-space: pre-wrap;
  --mixin-B9X2VrW7ZjVh_color: #000000;
  --mixin-B9X2VrW7ZjVh_font-size: 16px;
  --mixin-B9X2VrW7ZjVh_font-weight: 600;
  --mixin-B9X2VrW7ZjVh_line-height: 1.5;
  --mixin-B9X2VrW7ZjVh_white-space: pre-wrap;
  --mixin-m_wHq99NQpc1_color: #3291ff;
  --mixin-m_wHq99NQpc1_white-space: pre-wrap;
  --mixin-OAEhjrwruLcx_white-space: pre-wrap;
  --mixin-d1MeTH1Wu0tQ_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-1CMwCp6noRpR_white-space: pre-wrap;
  --plasmic-mixin-card-title_white-space: var(--mixin-1CMwCp6noRpR_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-_wUejg8Z59GC_font-family);
  font-size: var(--mixin-_wUejg8Z59GC_font-size);
  font-weight: var(--mixin-_wUejg8Z59GC_font-weight);
  font-style: var(--mixin-_wUejg8Z59GC_font-style);
  color: var(--mixin-_wUejg8Z59GC_color);
  text-align: var(--mixin-_wUejg8Z59GC_text-align);
  text-transform: var(--mixin-_wUejg8Z59GC_text-transform);
  line-height: var(--mixin-_wUejg8Z59GC_line-height);
  letter-spacing: var(--mixin-_wUejg8Z59GC_letter-spacing);
  white-space: var(--mixin-_wUejg8Z59GC_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-yl1WxBMiTT-s_color);
  font-weight: var(--mixin-yl1WxBMiTT-s_font-weight);
  font-size: var(--mixin-yl1WxBMiTT-s_font-size);
  line-height: var(--mixin-yl1WxBMiTT-s_line-height);
  letter-spacing: var(--mixin-yl1WxBMiTT-s_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-gYJFgC3GRM6v_color);
  font-size: var(--mixin-gYJFgC3GRM6v_font-size);
  font-weight: var(--mixin-gYJFgC3GRM6v_font-weight);
  letter-spacing: var(--mixin-gYJFgC3GRM6v_letter-spacing);
  line-height: var(--mixin-gYJFgC3GRM6v_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-qrMTVnjBRNh1_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-t0zygPgzIMtW_color);
  font-size: var(--mixin-t0zygPgzIMtW_font-size);
  font-weight: var(--mixin-t0zygPgzIMtW_font-weight);
  line-height: var(--mixin-t0zygPgzIMtW_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-UMz4Jceu16KP_color);
  font-size: var(--mixin-UMz4Jceu16KP_font-size);
  font-weight: var(--mixin-UMz4Jceu16KP_font-weight);
  line-height: var(--mixin-UMz4Jceu16KP_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Hr6de8Tfn9e3_font-family);
  border-radius: var(--mixin-Hr6de8Tfn9e3_border-top-left-radius)
    var(--mixin-Hr6de8Tfn9e3_border-top-right-radius)
    var(--mixin-Hr6de8Tfn9e3_border-bottom-right-radius)
    var(--mixin-Hr6de8Tfn9e3_border-bottom-left-radius);
  padding: var(--mixin-Hr6de8Tfn9e3_padding-top)
    var(--mixin-Hr6de8Tfn9e3_padding-right)
    var(--mixin-Hr6de8Tfn9e3_padding-bottom)
    var(--mixin-Hr6de8Tfn9e3_padding-left);
  border-top: var(--mixin-Hr6de8Tfn9e3_border-top-width)
    var(--mixin-Hr6de8Tfn9e3_border-top-style)
    var(--mixin-Hr6de8Tfn9e3_border-top-color);
  border-right: var(--mixin-Hr6de8Tfn9e3_border-right-width)
    var(--mixin-Hr6de8Tfn9e3_border-right-style)
    var(--mixin-Hr6de8Tfn9e3_border-right-color);
  border-bottom: var(--mixin-Hr6de8Tfn9e3_border-bottom-width)
    var(--mixin-Hr6de8Tfn9e3_border-bottom-style)
    var(--mixin-Hr6de8Tfn9e3_border-bottom-color);
  border-left: var(--mixin-Hr6de8Tfn9e3_border-left-width)
    var(--mixin-Hr6de8Tfn9e3_border-left-style)
    var(--mixin-Hr6de8Tfn9e3_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin--7l0ZNbwpSib_color);
  padding-left: var(--mixin--7l0ZNbwpSib_padding-left);
  border-left: var(--mixin--7l0ZNbwpSib_border-left-width)
    var(--mixin--7l0ZNbwpSib_border-left-style)
    var(--mixin--7l0ZNbwpSib_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-MpLKI4bdxqOh_font-family);
  border-radius: var(--mixin-MpLKI4bdxqOh_border-top-left-radius)
    var(--mixin-MpLKI4bdxqOh_border-top-right-radius)
    var(--mixin-MpLKI4bdxqOh_border-bottom-right-radius)
    var(--mixin-MpLKI4bdxqOh_border-bottom-left-radius);
  padding: var(--mixin-MpLKI4bdxqOh_padding-top)
    var(--mixin-MpLKI4bdxqOh_padding-right)
    var(--mixin-MpLKI4bdxqOh_padding-bottom)
    var(--mixin-MpLKI4bdxqOh_padding-left);
  border-top: var(--mixin-MpLKI4bdxqOh_border-top-width)
    var(--mixin-MpLKI4bdxqOh_border-top-style)
    var(--mixin-MpLKI4bdxqOh_border-top-color);
  border-right: var(--mixin-MpLKI4bdxqOh_border-right-width)
    var(--mixin-MpLKI4bdxqOh_border-right-style)
    var(--mixin-MpLKI4bdxqOh_border-right-color);
  border-bottom: var(--mixin-MpLKI4bdxqOh_border-bottom-width)
    var(--mixin-MpLKI4bdxqOh_border-bottom-style)
    var(--mixin-MpLKI4bdxqOh_border-bottom-color);
  border-left: var(--mixin-MpLKI4bdxqOh_border-left-width)
    var(--mixin-MpLKI4bdxqOh_border-left-style)
    var(--mixin-MpLKI4bdxqOh_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-id60ht1hbZJ6_display);
  flex-direction: var(--mixin-id60ht1hbZJ6_flex-direction);
  align-items: var(--mixin-id60ht1hbZJ6_align-items);
  justify-content: var(--mixin-id60ht1hbZJ6_justify-content);
  list-style-position: var(--mixin-id60ht1hbZJ6_list-style-position);
  padding-left: var(--mixin-id60ht1hbZJ6_padding-left);
  position: var(--mixin-id60ht1hbZJ6_position);
  list-style-type: var(--mixin-id60ht1hbZJ6_list-style-type);
  flex-column-gap: var(--mixin-id60ht1hbZJ6_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-f5mOPlz0l5Rp_display);
  flex-direction: var(--mixin-f5mOPlz0l5Rp_flex-direction);
  align-items: var(--mixin-f5mOPlz0l5Rp_align-items);
  justify-content: var(--mixin-f5mOPlz0l5Rp_justify-content);
  list-style-position: var(--mixin-f5mOPlz0l5Rp_list-style-position);
  padding-left: var(--mixin-f5mOPlz0l5Rp_padding-left);
  position: var(--mixin-f5mOPlz0l5Rp_position);
  list-style-type: var(--mixin-f5mOPlz0l5Rp_list-style-type);
  flex-column-gap: var(--mixin-f5mOPlz0l5Rp_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-R-XPS_pKJNSd_color);
  font-size: var(--mixin-R-XPS_pKJNSd_font-size);
  font-weight: var(--mixin-R-XPS_pKJNSd_font-weight);
  line-height: var(--mixin-R-XPS_pKJNSd_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-B9X2VrW7ZjVh_color);
  font-size: var(--mixin-B9X2VrW7ZjVh_font-size);
  font-weight: var(--mixin-B9X2VrW7ZjVh_font-weight);
  line-height: var(--mixin-B9X2VrW7ZjVh_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-m_wHq99NQpc1_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
