.root {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.119);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding-bottom: 12px;
  position: relative;
  min-width: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
.header {
  background: linear-gradient(
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.2)
    ),
    rgba(0, 78, 158, 1);
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding-top: 8px;
  padding-bottom: 8px;
}
.header > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.header > :global(.__wab_flex-container) > *,
.header > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.header > :global(.__wab_flex-container) > picture > img,
.header
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 24px;
}
.text__pgtWt {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.0125em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.text__jYnZb {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.0125em;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
}
.freeBox___7In6I {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.arrowLarge {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg);
  width: 24px;
  height: 24px;
  display: block;
  transform-origin: top left;
  position: absolute;
  overflow: hidden;
  left: 24px;
  top: 24px;
}
.svg___3Ptfc {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.002px, 0.2919999999999998px);
  width: 24.001px;
  height: 13.413px;
  display: block;
  position: absolute;
  top: 5px;
  left: 0px;
}
.header2 {
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 75%;
  width: auto;
}
.header2 > :global(.__wab_flex-container) {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.header2 > :global(.__wab_flex-container) > *,
.header2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.header2 > :global(.__wab_flex-container) > picture > img,
.header2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.header3 {
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
}
.header4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.header4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.header4 > :global(.__wab_flex-container) > *,
.header4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.header4 > :global(.__wab_flex-container) > picture > img,
.header4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.image1 {
  background: url("/plasmic/ewl/images/image1.png") -26px -32px / 370px 180px no-repeat;
  width: 170px;
  height: 63px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.freeShipping {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeShipping > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeShipping > :global(.__wab_flex-container) > *,
.freeShipping > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeShipping > :global(.__wab_flex-container) > picture > img,
.freeShipping
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.icon {
  background: url("/plasmic/ewl/images/icon.png") center center / cover no-repeat;
  width: 32px;
  height: 32px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.freeShipping2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.text__woBUd {
  display: block;
  font-size: 16px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.0125em;
  line-height: 20px;
  color: rgba(45, 45, 45, 1);
  position: relative;
}
.text___5HXHz {
  display: block;
  font-size: 14px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0025em;
  line-height: 20px;
  color: rgba(113, 113, 113, 1);
  position: relative;
}
.searchBar {
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-right: 40px;
  margin-left: 40px;
  max-width: 600px;
  flex-grow: 1;
}
.search {
  background: rgba(45, 45, 45, 1);
  width: 48px;
  height: 48px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
  padding: 4px;
  border-width: 1px;
  border-style: none;
}
.search > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.search > :global(.__wab_flex-container) > *,
.search > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.search > :global(.__wab_flex-container) > picture > img,
.search
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.search2 {
  width: 24px;
  height: 24px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__qTqrs {
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: translate(-0.034px, -0.032px);
  width: 24.032px;
  height: 24.032px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-right: 0px;
}
.searchBar2 {
  background: rgba(255, 255, 255, 1);
  height: 48px;
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: none;
  padding: 10px 20px;
  border-width: 1px;
  border-color: #727272;
}
.searchBar2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.searchBar2 > :global(.__wab_flex-container) > *,
.searchBar2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.searchBar2 > :global(.__wab_flex-container) > picture > img,
.searchBar2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.iconHeader {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.iconHeader > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.iconHeader > :global(.__wab_flex-container) > *,
.iconHeader > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.iconHeader > :global(.__wab_flex-container) > picture > img,
.iconHeader
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.icon2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.icon2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 24px);
  width: calc(100% + 24px);
}
.icon2 > :global(.__wab_flex-container) > *,
.icon2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon2 > :global(.__wab_flex-container) > picture > img,
.icon2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 24px;
}
.heart {
  width: 24px;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  padding-top: 1px;
  padding-bottom: 1px;
  flex-shrink: 0;
}
.heart > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.heart > :global(.__wab_flex-container) > *,
.heart > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.heart > :global(.__wab_flex-container) > picture > img,
.heart > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 10px;
}
.svg__j5PG {
  object-fit: cover;
  max-width: 100%;
  color: #2e2e2e;
  width: 24.009px;
  height: 22.391px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.user {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  padding-left: 3px;
  padding-right: 3px;
}
.user > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.user > :global(.__wab_flex-container) > *,
.user > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.user > :global(.__wab_flex-container) > picture > img,
.user > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.svg__tX85Z {
  object-fit: cover;
  max-width: 100%;
  color: #2e2e2e;
  width: 18px;
  height: 24px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.cart {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: row;
}
.cart > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.cart > :global(.__wab_flex-container) > *,
.cart > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cart > :global(.__wab_flex-container) > picture > img,
.cart > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.freeBox__suCyy {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.svg__rTsIx {
  object-fit: cover;
  max-width: 100%;
  color: #2e2e2e;
  width: 24px;
  height: 24px;
  display: block;
  flex-shrink: 0;
}
.icon3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.icon3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.icon3 > :global(.__wab_flex-container) > *,
.icon3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon3 > :global(.__wab_flex-container) > picture > img,
.icon3 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 4px;
}
.austriaAt {
  width: 24px;
  height: 18px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.img {
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 18px;
  display: block !important;
  position: absolute;
  top: 0px;
  left: 0px;
}
.img > picture > img {
  object-fit: cover;
}
.freeBox__bHwmk {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.caret {
  transform: scale(1.000000499999875, 0.999999500000375)
    rotate(-179.94270423958343deg) skew(0.05729570311883569deg, 0deg);
  width: 24px;
  height: 24px;
  display: block;
  transform-origin: top left;
  position: absolute;
  overflow: hidden;
  left: 24px;
  top: 24px;
}
.svg__bThP {
  object-fit: cover;
  max-width: 100%;
  color: #2e2e2e;
  transform: translate(0px, -0.29299999999999926px);
  width: 14px;
  height: 6.585px;
  display: block;
  position: absolute;
  top: 9px;
  left: 5px;
}
.navigationBar {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.navigationBar > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.navigationBar > :global(.__wab_flex-container) > *,
.navigationBar > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navigationBar > :global(.__wab_flex-container) > picture > img,
.navigationBar
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
.navigation {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.navigation > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.navigation > :global(.__wab_flex-container) > *,
.navigation > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navigation > :global(.__wab_flex-container) > picture > img,
.navigation
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.product {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.005em;
  line-height: 24px;
  color: rgba(160, 160, 160, 1);
  position: relative;
}
.angleSmall {
  width: 16px;
  height: 16px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__lYyNt {
  object-fit: cover;
  max-width: 100%;
  color: #a1a1a1;
  transform: translate(-0.472px, 0.4710000000000001px);
  width: 8.942px;
  height: 4.862px;
  display: block;
  position: absolute;
  top: 5px;
  left: 4px;
}
.navigation2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.navigation2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.navigation2 > :global(.__wab_flex-container) > *,
.navigation2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navigation2 > :global(.__wab_flex-container) > picture > img,
.navigation2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.product2 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.005em;
  line-height: 24px;
  color: rgba(160, 160, 160, 1);
  position: relative;
}
.navigation3 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.navigation3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.navigation3 > :global(.__wab_flex-container) > *,
.navigation3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navigation3 > :global(.__wab_flex-container) > picture > img,
.navigation3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.product3 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.005em;
  line-height: 24px;
  color: rgba(160, 160, 160, 1);
  position: relative;
}
.navigation4 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.navigation4 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.navigation4 > :global(.__wab_flex-container) > *,
.navigation4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navigation4 > :global(.__wab_flex-container) > picture > img,
.navigation4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.product4 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.005em;
  line-height: 24px;
  color: rgba(160, 160, 160, 1);
  position: relative;
}
.navigation5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.navigation5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.navigation5 > :global(.__wab_flex-container) > *,
.navigation5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navigation5 > :global(.__wab_flex-container) > picture > img,
.navigation5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.product5 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.005em;
  line-height: 24px;
  color: rgba(160, 160, 160, 1);
  position: relative;
}
.navigation6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.navigation6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.navigation6 > :global(.__wab_flex-container) > *,
.navigation6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navigation6 > :global(.__wab_flex-container) > picture > img,
.navigation6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.product6 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.005em;
  line-height: 24px;
  color: rgba(0, 78, 158, 1);
  position: relative;
}
.navigation7 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.navigation7 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 4px);
  width: calc(100% + 4px);
}
.navigation7 > :global(.__wab_flex-container) > *,
.navigation7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.navigation7 > :global(.__wab_flex-container) > picture > img,
.navigation7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 4px;
}
.product7 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.005em;
  line-height: 24px;
  color: rgba(0, 78, 158, 1);
  position: relative;
}
