.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 100px);
  height: calc(100% + 100px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 100px;
}
.freeBox__s9Eb6 {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.header:global(.__wab_instance) {
  max-width: 100%;
  width: 100%;
  min-width: 0;
}
.content {
  width: 100%;
  height: auto;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.039);
  min-width: 0;
  display: none;
  padding: 48px 0px;
}
.content > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.content > :global(.__wab_flex-container) > *,
.content > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content > :global(.__wab_flex-container) > picture > img,
.content
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__pKij {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 75%;
  min-width: 0;
  padding: 8px;
}
.freeBox__pKij > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__pKij > :global(.__wab_flex-container) > *,
.freeBox__pKij > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__pKij > :global(.__wab_flex-container) > picture > img,
.freeBox__pKij
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.text___3W4Og {
  display: block;
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 52px;
  color: rgba(45, 45, 45, 1);
}
.breadcrumb {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.breadcrumb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.breadcrumb > :global(.__wab_flex-container) > *,
.breadcrumb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.breadcrumb > :global(.__wab_flex-container) > picture > img,
.breadcrumb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__lgT0 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.0125em;
  line-height: 20px;
  color: rgba(45, 45, 45, 1);
  position: relative;
}
.freeBox__hzTs5 {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.angleSmall {
  transform: scale(1.000000499999875, 1.0000004999998748)
    rotate(-90.0572957604145deg);
  width: 24px;
  height: 24px;
  display: block;
  transform-origin: top left;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 24px;
}
.svg___58XSm {
  object-fit: cover;
  max-width: 100%;
  color: #2e2e2e;
  transform: translate(0.2919999999999998px, 0.20700000000000074px);
  width: 13.414px;
  height: 7.293px;
  display: block;
  position: absolute;
  top: 8px;
  left: 5px;
}
.text__gDc20 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.0125em;
  line-height: 20px;
  color: rgba(45, 45, 45, 1);
  position: relative;
}
.freeBox__x8F4H {
  display: block;
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.angleSmall2 {
  transform: scale(1.000000499999875, 1.0000004999998748)
    rotate(-90.0572957604145deg);
  width: 24px;
  height: 24px;
  display: block;
  transform-origin: top left;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 24px;
}
.svg__wQntg {
  object-fit: cover;
  max-width: 100%;
  color: #2e2e2e;
  transform: translate(0.2919999999999998px, 0.20700000000000074px);
  width: 13.414px;
  height: 7.293px;
  display: block;
  position: absolute;
  top: 8px;
  left: 5px;
}
.text___5AkUv {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.0125em;
  line-height: 20px;
  color: rgba(45, 45, 45, 1);
  position: relative;
}
.detailsProduct {
  width: 75%;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  padding-left: 0px;
  padding-right: 0px;
}
.detailsProduct > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.detailsProduct > :global(.__wab_flex-container) > *,
.detailsProduct > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.detailsProduct > :global(.__wab_flex-container) > picture > img,
.detailsProduct
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.content16 {
  height: 586px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.content16 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 27px);
  width: calc(100% + 27px);
}
.content16 > :global(.__wab_flex-container) > *,
.content16 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content16 > :global(.__wab_flex-container) > picture > img,
.content16
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 27px;
}
.sliderCarousel:global(.__wab_instance) {
  width: 586px;
  flex-direction: column;
  object-fit: cover;
  height: 586px;
  flex-shrink: 0;
}
.img__epasd {
  object-fit: cover;
  max-width: 100%;
}
.img__epasd > picture > img {
  object-fit: cover;
}
.freeBox__fnPch {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__kbhtf {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___94Avs {
  object-fit: cover;
  max-width: 100%;
}
.img___94Avs > picture > img {
  object-fit: cover;
}
.freeBox__cazoI {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__agvcn {
  object-fit: cover;
  max-width: 100%;
}
.img__agvcn > picture > img {
  object-fit: cover;
}
.content2 {
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  padding-left: 27px;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.content2 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.content2 > :global(.__wab_flex-container) > *,
.content2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content2 > :global(.__wab_flex-container) > picture > img,
.content2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.content3 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  min-width: 0;
}
.content3 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.content3 > :global(.__wab_flex-container) > *,
.content3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content3 > :global(.__wab_flex-container) > picture > img,
.content3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.content4 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
}
.content4 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.content4 > :global(.__wab_flex-container) > *,
.content4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content4 > :global(.__wab_flex-container) > picture > img,
.content4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.content5 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.content5 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.content5 > :global(.__wab_flex-container) > *,
.content5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content5 > :global(.__wab_flex-container) > picture > img,
.content5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.frame9837 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.frame9837 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.frame9837 > :global(.__wab_flex-container) > *,
.frame9837 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame9837 > :global(.__wab_flex-container) > picture > img,
.frame9837
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.cesilMicroVelvetChair {
  display: block;
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(45, 45, 45, 1);
  position: relative;
}
.frame9836 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: 0;
}
.frame9836 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.frame9836 > :global(.__wab_flex-container) > *,
.frame9836 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame9836 > :global(.__wab_flex-container) > picture > img,
.frame9836
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
.reviews {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.reviews > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.reviews > :global(.__wab_flex-container) > *,
.reviews > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.reviews > :global(.__wab_flex-container) > picture > img,
.reviews
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.svg__s6UN8 {
  object-fit: cover;
  max-width: 100%;
  color: #22a638;
  width: 88px;
  height: 16px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
}
.svg__s6UN8 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 2px);
  width: calc(100% + 2px);
}
.svg__s6UN8 > :global(.__wab_flex-container) > *,
.svg__s6UN8 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.svg__s6UN8 > :global(.__wab_flex-container) > picture > img,
.svg__s6UN8
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 2px;
}
.text__nmb9D {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 24px;
  color: rgba(68, 68, 68, 1);
  position: relative;
}
.text__qiGt {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 24px;
  color: rgba(68, 68, 68, 1);
  position: relative;
}
.caption {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.caption > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.caption > :global(.__wab_flex-container) > *,
.caption > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.caption > :global(.__wab_flex-container) > picture > img,
.caption
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.svg__cBqiR {
  object-fit: cover;
  max-width: 100%;
  color: #2e2e2e;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.freeDeliveryFrom1000 {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 24px;
  color: rgba(45, 45, 45, 1);
  position: relative;
}
.frame9826 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.frame9826 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.frame9826 > :global(.__wab_flex-container) > *,
.frame9826 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.frame9826 > :global(.__wab_flex-container) > picture > img,
.frame9826
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.text__k1ETt {
  display: block;
  font-size: 26px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(45, 45, 45, 1);
  position: relative;
}
.text__grk1V {
  display: block;
  font-size: 20px;
  text-decoration-line: line-through;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 32px;
  color: rgba(113, 113, 113, 1);
  position: relative;
}
.text__ndLcA {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.005em;
  line-height: 24px;
  color: rgba(113, 113, 113, 1);
  position: relative;
  width: 100%;
  min-width: 0;
}
.content6 {
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  flex-direction: column;
  width: 100%;
  min-width: 0;
}
.content6 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.content6 > :global(.__wab_flex-container) > *,
.content6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content6 > :global(.__wab_flex-container) > picture > img,
.content6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.content7 {
  width: auto;
  height: auto;
  display: grid;
  position: relative;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
}
.freeBox__zbAa6 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__zbAa6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__zbAa6 > :global(.__wab_flex-container) > *,
.freeBox__zbAa6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__zbAa6 > :global(.__wab_flex-container) > picture > img,
.freeBox__zbAa6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.color {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.0125em;
  line-height: 20px;
  color: rgba(113, 113, 113, 1);
  position: relative;
  width: 100px;
  flex-shrink: 0;
}
.color2 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.color2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.color2 > :global(.__wab_flex-container) > *,
.color2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.color2 > :global(.__wab_flex-container) > picture > img,
.color2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.variantKarte:global(.__wab_instance) {
  position: relative;
}
.content10 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.content10 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.content10 > :global(.__wab_flex-container) > *,
.content10 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content10 > :global(.__wab_flex-container) > picture > img,
.content10
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.content11 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.content11 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 42px);
  width: calc(100% + 42px);
}
.content11 > :global(.__wab_flex-container) > *,
.content11 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content11 > :global(.__wab_flex-container) > picture > img,
.content11
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 42px;
}
.iconButton {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.iconButton > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.iconButton > :global(.__wab_flex-container) > *,
.iconButton > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.iconButton > :global(.__wab_flex-container) > picture > img,
.iconButton
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.icon {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
  padding: 12px;
  border: 1px solid var(--token-HmYm7FCAFJ_l);
}
.icon > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.icon > :global(.__wab_flex-container) > *,
.icon > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon > :global(.__wab_flex-container) > picture > img,
.icon > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.fiRsHeart {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg___60PpY {
  object-fit: cover;
  max-width: 100%;
  color: #2e2e2e;
  transform: translate(-0.004px, -0.236px);
  width: 20.008px;
  height: 18.659px;
  display: block;
  position: absolute;
  top: 1px;
  left: 0px;
}
.icon2 {
  width: 40px;
  height: 40px;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
  display: none;
  padding: 12px;
  border: 1px solid var(--token-HmYm7FCAFJ_l);
}
.icon2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.icon2 > :global(.__wab_flex-container) > *,
.icon2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon2 > :global(.__wab_flex-container) > picture > img,
.icon2 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.svg__gjbSb {
  object-fit: cover;
  max-width: 100%;
  color: #2e2e2e;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  flex-shrink: 0;
}
.icon3 {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  flex-direction: row;
  flex-shrink: 0;
  padding: 12px;
  border: 1px solid var(--token-HmYm7FCAFJ_l);
}
.icon3 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.icon3 > :global(.__wab_flex-container) > *,
.icon3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.icon3 > :global(.__wab_flex-container) > picture > img,
.icon3 > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 10px;
}
.fiRsShare {
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.svg__fLm0J {
  object-fit: cover;
  max-width: 100%;
  color: #2e2e2e;
  transform: translate(-0.023px, 0px);
  width: 20.022px;
  height: 20.001px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
}
.text___2Nq9F {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 24px;
  color: rgba(45, 45, 45, 1);
  position: relative;
}
.button {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
  min-width: 0;
}
.button > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.button > :global(.__wab_flex-container) > *,
.button > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.button > :global(.__wab_flex-container) > picture > img,
.button
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
  margin-top: 20px;
}
.quantity {
  width: 142px;
  height: 56px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  border: 1px solid var(--token-HmYm7FCAFJ_l);
}
.button__p9Os1 {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding-left: 20px;
  padding-right: 4px;
  cursor: pointer;
  min-height: 0;
  border-width: 0px;
}
.svg__mItnv {
  object-fit: cover;
  color: #727272;
  width: 10px;
  height: 2px;
  display: block;
  flex-shrink: 0;
}
.numberInput {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: stretch;
  justify-content: flex-start;
  color: var(--token-tuiJWDByDnLD);
  width: 100%;
  text-align: center;
  font-family: "Jost", sans-serif;
  font-size: 20px;
  letter-spacing: 0.015em;
  line-height: 24px;
  height: 100%;
  font-weight: 500;
  min-width: 0;
  min-height: 0;
  border-width: 0px;
}
.button__dvtnO {
  display: flex;
  flex-direction: row;
  position: relative;
  align-items: center;
  justify-content: center;
  padding-left: 4px;
  padding-right: 20px;
  height: 100%;
  cursor: pointer;
  min-height: 0;
  border-width: 0px;
}
.svg__gHaHp {
  object-fit: cover;
  color: #727272;
  width: 10px;
  height: 10px;
  display: block;
  flex-shrink: 0;
}
.buttonNoIcon {
  background: rgba(255, 255, 255, 1);
  box-shadow: inset 0px 0px 0px 1px rgba(45, 45, 45, 1);
  width: auto;
  height: 56px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 16px 32px;
}
.buttonNoIcon > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.buttonNoIcon > :global(.__wab_flex-container) > *,
.buttonNoIcon > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonNoIcon > :global(.__wab_flex-container) > picture > img,
.buttonNoIcon
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button2 {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgba(45, 45, 45, 1);
  position: relative;
  white-space: pre;
}
.buttonNoIcon2 {
  background: rgba(226, 5, 18, 1);
  width: auto;
  height: 56px;
  display: flex;
  position: relative;
  flex-direction: row;
  padding: 16px 32px;
}
.buttonNoIcon2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.buttonNoIcon2 > :global(.__wab_flex-container) > *,
.buttonNoIcon2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.buttonNoIcon2 > :global(.__wab_flex-container) > picture > img,
.buttonNoIcon2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.button3 {
  display: block;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 20px;
  color: rgba(255, 255, 255, 1);
  position: relative;
  white-space: pre;
}
.content12 {
  width: auto;
  height: auto;
  position: relative;
  flex-direction: column;
  display: none;
}
.content12 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.content12 > :global(.__wab_flex-container) > *,
.content12 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content12 > :global(.__wab_flex-container) > picture > img,
.content12
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.content13 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.content13 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.content13 > :global(.__wab_flex-container) > *,
.content13 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content13 > :global(.__wab_flex-container) > picture > img,
.content13
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.text__gjnzk {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.0125em;
  line-height: 20px;
  color: rgba(113, 113, 113, 1);
  position: relative;
}
.text__ynxwT {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 24px;
  color: rgba(45, 45, 45, 1);
  position: relative;
}
.content14 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.content14 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.content14 > :global(.__wab_flex-container) > *,
.content14 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content14 > :global(.__wab_flex-container) > picture > img,
.content14
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.text__mslrJ {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.0125em;
  line-height: 20px;
  color: rgba(113, 113, 113, 1);
  position: relative;
}
.text__gy1Yj {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 24px;
  color: rgba(45, 45, 45, 1);
  position: relative;
}
.content15 {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.content15 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.content15 > :global(.__wab_flex-container) > *,
.content15 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.content15 > :global(.__wab_flex-container) > picture > img,
.content15
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.text__yX5XR {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.0125em;
  line-height: 20px;
  color: rgba(113, 113, 113, 1);
  position: relative;
}
.text___3Mceq {
  display: block;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.005em;
  line-height: 24px;
  color: rgba(45, 45, 45, 1);
  position: relative;
}
.produktInfo:global(.__wab_instance) {
  width: 75%;
}
.section {
  display: flex;
  width: 75%;
  flex-direction: column;
  position: relative;
}
.section > :global(.__wab_flex-container) {
  flex-direction: column;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.section > :global(.__wab_flex-container) > *,
.section > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.section > :global(.__wab_flex-container) > picture > img,
.section
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.freeBox__l23Io {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
.h2 {
  display: block;
  font-size: 34px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.0025em;
  line-height: 40px;
  color: rgba(45, 45, 45, 1);
  position: relative;
}
.freeBox___3OUp {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: row;
  position: relative;
}
.freeBox___3OUp > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___3OUp > :global(.__wab_flex-container) > *,
.freeBox___3OUp > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___3OUp > :global(.__wab_flex-container) > picture > img,
.freeBox___3OUp
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.pfeilButton__e2UVb:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.pfeilButton__qGdkH:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.graphQlFetcher:global(.__wab_instance) {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  min-width: 0;
}
.angeboteSlider:global(.__wab_instance) {
  object-fit: cover;
  position: relative;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  min-width: 0;
}
.produktKarte:global(.__wab_instance) {
  width: auto;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
}
